<script src="../chat/assistant.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-list>
    <ion-list-header>Bem vindo ao Chat</ion-list-header>
    <ion-item>
      <ion-label fixed>Seu nome:</ion-label>
      <ion-input style="background-color:honeydew" type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <br><br><br>    
    <ion-item>
      <ion-label>Selecione uma Sala</ion-label>
      <ion-select placeholder="..." [(ngModel)]="assunto" (change)="onChange(assunto)">
        <ion-select-option value="Cinema">Cinema</ion-select-option>
        <ion-select-option value="Curiosidades">Curiosidades</ion-select-option>
        <ion-select-option value="Esportes">Esportes</ion-select-option>
      </ion-select>
    </ion-item>
        
  </ion-list>
  <ion-button expand="full" (click)="onClickEntrar()">
      Entrar
    </ion-button>
</ion-content>
